<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <script type="module" src="{{ url_for('static', path='/js/index.js') }}"></script>
    <script src="{{ url_for('static', path='/js/jquery.js') }}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Simple Chatbot</title>
</head>

<body>
    <div class="logo-panel">
        <div class="logo-holder">
            <a href="https://ufsc.br">
                <img class="logo" src="{{ url_for('static', path='/img/ufsc.png') }}">
            </a>
        </div>
        <div class="logo-holder">
            <a href="https://lsiim.ufsc.br">
                <img class="logo logo-lsiim" src="{{ url_for('static', path='/img/LSIIM.png') }}">
            </a>
        </div>
    </div>
    <div class="main-panel">
        <div class="conversation-panel"></div>

        <input id="chat-input" class="rounded-corners roboto-400" type="text" placeholder="Type your message here...">
    </div>
</body>

</html>